/**
 * @description Styles
 * @author      C. M. de Picciotto <d3p1@d3p1.dev> (https://d3p1.dev/)
 */
body {
  --primary-color: hsl(0, 0%, 70%);
}

body {
  margin: 0;
  overflow: hidden;
  font-family: monospace;
  color: var(--primary-color);
}

canvas {
  outline: none;
}

.controls {
  position: absolute;
  bottom: 3rem;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.controls__arrow {
  font-size: 2rem;
}

.controls__commands {
  text-align: center;
}

.controls__commands-description {
  margin: 0;
  height: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.controls__commands:hover .controls__commands-description {
  opacity: 1;
}

.controls__arrow,
.controls__commands {
  opacity: 0.5;
  transition: opacity 0.4s;
}

.controls__arrow:hover,
.controls__commands:hover {
  opacity: 1;
}
